h1{color: green; font-family: serif; text-align: center; }


body{background: white; color:black }


p{text-decoration-color: red;}


.divfooter{background:gray; font-family: arial; text-align: right; color: white;}